node_modules/
*.log
.env

# Bundler local config
.bundle/

# Build artifacts
*.gem
worker.entrypoint.mjs

# sinatra-app exclusions
sinatra-app/db/*.sqlite3
sinatra-app/db/*.sqlite3-journal
sinatra-app/vendor/bundle/
sinatra-app/Gemfile.lock

# homura-app exclusions
homura-app/build/
homura-app/.wrangler/
homura-app/vendor/bundle/
homura-app/Gemfile.lock
homura-app/node_modules/
